/* header */
header {
    z-index: 99;
    top: 0;
}

/* main */


/* footer */

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
    #hamburger {
        display: none;
    }

    #nav-ul {
        display: flex;
    }

    div.firstcard {
        padding-bottom: 2rem;
    }

    div.firstcard img {
        position: relative;
        bottom: -2.7rem;
    }

}